section.top{
   @include section-top;
}
section.whoweare{
    .container{
        display:flex ;
        .left-side{
            width: 50%;
        img{
            width: 100%;
        }
    }
       .right-side{
           width: 50%;
           h2{
               
           }
       } 

    }
}