section.main{
    height: 100vh;
    background-image:url("../img/foto1.jpg");
    background-size:cover;
    position: relative;
    background-position: center;
.arrow-left, .arrow-right{
    position: absolute;
    top:50%;
    color:$color-white;
    font-size: 40px;
    padding: 8px 15px;
  
    border: 2px solid $color-white;
    cursor: pointer;
user-select: none;
transition: .15s;
&:active{
    transform: scale(0.95)
}

}
.arrow-left{
    left: 20px;
}
.arrow-right{
    right: 20px;
}
.title{
    position: absolute;
    top:50%;
   
    width: 100%;
    transform: translate(-50% -50%);
h1{
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-white;

}
p{
    font-size: 14px;
    color: $color-white;
    line-height: 1.4;
    width: 36%;
    margin: 20px auto;

}
.button-info{
    @include button($color-white)

}
}
}
section.features{
    background: $color-shadow;
    padding: 50px 0;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .wrapper{
        width: 30%;
        margin-bottom: 20px;
    }
    .fa{
        font-size: 60px;
    }
    h2{
        color: $color-blue;
        font-size: 24px;
        text-transform: uppercase;
    }
    p{
        @include text-regular();
    }

}
section.recent-projects{
    padding-top: 60px;
    padding-bottom: 30px;
    h2{
        @include section-header();
    }
    .slide-box{
        display: flex;
        justify-content: space-between;

        .slide{
            width: 30%;
            padding-top: 50px;
            img{
                width: 100%;
            }
        }
    }
   
    
    .navigation{
        display: flex;
        justify-content: flex-end;
        .fa{
            color:$color-white;
            background: $color-blue;
        }
    }
}
section.counters{
    
    .container{
    display: flex;
    justify-content:space-between;
    background: $color-blue;
    .wrapper{
        width: 25%;  
    }
    h2{
        font-size: 50px;
        font-weight: 700;
        color:$color-white;
    }
    h3{
       font-size:  20px;
       color:$color-white;
    }
}
}