footer{
    .get-info{
    background: $color-blue;
    .container{
        height: 110px;
        display: flex;
        justify-content: space-between;
    }
    a{
        @include button($color-white)
    }
    h3{
        font-size: 24px;
        color:$color-white;
    }
}
.info-block{
    background: #161616;
    padding: 40px 0;
    .container{
        display: flex;
        justify-content:space-between; 
    }
        .wrapper:nth-child(3n+1){
            width: 30%;
            
                }
                .wrapper:nth-child(2), .wrapper:nth-child(3){
               
                    width: 20%;
                    li:before{
                        content: '\f054';
                         font-family:'FontAwesome';
                        color: $color-blue;
                     margin-right:6px
                    }
                
            
                }
                .wrapper:first-child{
                 p{
                    width:80%;}
                     }

                     h3{ color: $color-blue;
                                    font-size:20px;
                                    font-weight:500;
                                    text-transform: uppercase;
                                    text-align: left;
                                    margin-bottom:20px;
                                }
                        
                                p{
                                    @include text-regular;
                                    color: $color-white;
                                    text-align: left;
                        
                                }
                        
                                li, a{
                                    @include text-regular;
                                    color: $color-white;
                                    text-align: left;
                        
                                }
                        
                                .fa{
                                    color: $color-blue;
                                    width:20px;
                        
                                }
                    }
    
}
